In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
draft_df = pd.read_csv('draft.csv')
game_df = pd.read_csv('gameParticipation.csv')
player_df = pd.read_csv('players.csv')

In [3]:
game_df.head()

,gamePartId,gameId,teamId,playerId,gamePartUnit,gamePartSnapCount,nameFirst,nameLast,nameFull,position,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,12100001,56473,3800,20140091,offense,39,John,Brown,John Brown,WR,...,1990-04-03,24.112329,http://www.nfl.com/player/JohnBrown/2543847/pr...,Homestead,FL,USA,Homestead HS,NaN,FL,USA
1,12100002,56473,3800,20100645,offense,33,John,Estes,John Estes,C,...,1987-03-25,23.093151,http://www.nfl.com/player/JohnEstes/2507981/pr...,Stockton,CA,USA,St. Mary's HS,Stockton,CA,USA
2,12100003,56473,3800,20120112,offense,30,Bobby,Massie,Bobby Massie,OT,...,1989-08-01,22.750685,http://www.nfl.com/player/BobbyMassie/2533543/...,Lynchburg,VA,USA,Hargrave Military Academy,Chatham,VA,USA
3,12100004,56473,3800,20100205,offense,30,Ted,Larsen,Ted Larsen,OG,...,1987-06-13,22.873973,http://www.nfl.com/player/TedLarsen/497026/pro...,Miami,FL,USA,Palm Harbor University HS,NaN,FL,USA
4,12100005,56473,3800,20090213,offense,30,Paul,Fanaika,Paul Fanaika,OG,...,1986-04-09,23.060274,http://www.nfl.com/player/PaulFanaika/71293/pr...,San Mateo,CA,USA,Mills HS,Millbrae,CA,USA

In [4]:
draft_df.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [5]:
draft_df.count()

playerId            12140
draft               12140
round               11879
pick                12140
draftTradeValue     12140
draftTeam           12140
position            12140
teamId              12140
nameFirst           12140
nameLast            12140
nameFull            12140
collegeId           12140
nflId               10889
combineId            6693
college             12140
heightInches         9554
weight               9554
dob                 10883
ageAtDraft          10883
playerProfileUrl    10889
homeCity             9788
homeState            9576
homeCountry          9841
highSchool           4320
hsCity               2367
hsState              4300
hsCountry            4320
dtype: int64

In [6]:
newnew = draft_df.groupby(['playerId','pick'])
newnew.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.00,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.00,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.00,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.00,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.00,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12135,20190250,2019,NaN,250,0.96,MIN,LS,3000,Austin,Cutting,...,1997-10-27,21.515068,http://www.nfl.com/player/AustinCutting/256292...,Keller,TX,USA,Central HS,Center,TX,USA
12136,20190251,2019,NaN,251,0.92,LAR,LB,2520,Dakota,Allen,...,1995-11-02,23.501370,http://www.nfl.com/player/DakotaAllen/2562618/...,Dallas,TX,USA,Summer Creek HS,Humble,TX,USA
12137,20190252,2019,NaN,252,0.88,NE,CB,3200,Ken,Webster,...,1996-06-19,22.871233,http://www.nfl.com/player/KenWebster/2562776/p...,NaN,NaN,NaN,Stockbridge HS,Decatur,GA,USA
12138,20190253,2019,NaN,253,0.84,WAS,DE,5110,Jordan,Brailford,...,1995-10-09,23.567123,http://www.nfl.com/player/JordanBrailford/2562...,Tulsa,OK,USA,Booker T. Washington HS,Tulsa,OK,USA
12139,20190254,2019,NaN,254,0.80,ARI,TE,3800,Caleb,Wilson,...,1996-07-15,22.800000,http://www.nfl.com/player/CalebWilson/2562603/...,Dallas,TX,USA,Junipero Serra HS,Gardena,CA,USA

In [7]:
y = newnew.to_frame()
#y = newnew['playerId'].drop_duplicates()
y

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_frame'

In [ ]:
combined_df = game_df.join(draft_df, on='playerId', rsuffix='_other')
combined_df

In [ ]:
combined_df.columns

In [ ]:
#help from Trent
total_games = combined_df.value_counts(subset='playerId')
total_games

In [ ]:
number_of_games = total_games.to_frame()
number_of_games

In [ ]:
Player_IDs = combined_df['playerId'].drop_duplicates()
Player_IDs

In [ ]:
Players_df = Player_IDs.to_frame()
Players_df

In [ ]:
plt.scatter(number_of_games, Players_df)

In [ ]:
#plt.scatter(df.YearsExperience, df.Salary)
#plt.xlabel('Years of Experience')
#plt.ylabel('Salary in USD')
#plt.show()